<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.novelcharacter.mapper.UserMapper">
    <select id="getUserByUuid" resultType="UserDTO">
        SELECT * FROM User WHERE uuid = #{uuid};
    </select>

    <select id="getUserById" resultType="UserDTO">
        SELECT * FROM User WHERE userId = #{userId};
    </select>

    <select id="getUserByName" resultType="UserDTO">
        SELECT * FROM User WHERE userName = #{userName};
    </select>

    <select id = "findByEmail" resultType="UserDTO">
        SELECT * FROM User WHERE email = #{email} AND password != 'OAuthUser';
    </select>

    <insert id="insertUser" useGeneratedKeys="true" keyProperty="uuid" parameterType="UserDTO">
        INSERT INTO User (userId, userName, email, password, role, lastLoginDate, privacy_agreed_at) VALUES (#{userId},
        <choose>
            <when test="userName != null and userName !=''">#{userName}</when>
            <otherwise>'user'</otherwise>
        </choose>, #{email}, #{password}, #{role}, #{lastLoginDate}, #{privacy_agreed_at});
    </insert>

    <update id="updateUser" parameterType="UserDTO">
        UPDATE User SET userName = #{userName} WHERE userId = #{userId};
    </update>

    <delete id="deleteUser" parameterType="UserDTO">
        DELETE FROM User WHERE userId = #{userId};
    </delete>
</mapper>